<div class="container">
    <div class="row mt-5">
        <div class="col-5 bg-img">

        </div>

        <div class="col-7 form">
            <h3>Gestão de Eventos</h3>
            <form [formGroup]="formLogin">
                <div class="card">
                    <div class="card-body">
                        <p>Login</p>
                        <hr>
                        <div class="mb-3 mt-5">
                            <label  class="form-label">Usuário</label>
                            <input type="text" formControlName="nome" class="form-control"  >
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="form-label">Senha</label>
                            <input type="password" formControlName="senha" class="form-control" >
                        </div>
                        <div class="mb-3">                            
                            <a href ="#">Esqueceu sua senha?</a>
                        </div>
                        <button [disabled]="formLogin.invalid" type="submit" class="btn btn-primary" (click)="loginUser()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>