
img {
    margin-left: 12px;
}

.form {
    background-color: #ebebeb;
    height: 591px;
}

.card {
    width: 85%;
    margin: 3vh auto;
    border-radius: 15px;
    padding: 20px 35px;
    box-shadow: 0 3px #ccc;
}

h3 {
    float: right;
    margin:7vh 4vw 3vh 0;
    color: #6a4ea0;
    font-weight: bold;
}

hr {
    margin-top: -17px;
}

.card a {
    color: #6a4ea0;
}

button, .btn-primary.disabled, .btn-primary:disabled {
    float: right;
    margin-top: 5vh;
    background-color: #6a4ea0;
    border-color: #6a4ea0;
}

button:hover {
    float: right;
    margin-top: 5vh;
    background-color: #6a4ea0;
    border-color: #6a4ea0;
}

@media (max-width:386px) {
    h3 {
        float: none !important;
        margin:7vh 4vw 3vh 0;
        color: #6a4ea0;
        font-weight: bold;
        text-align: center !important;
    }
}

@media (min-width:2500px) {
    img {
        margin-left: 52px;
    }

    .form {
        height: 634px;
    }

}